<section id="LineFormSection">
    <h2>ΕΙΣΑΓΩΓΗ ΝΕΑΣ ΚΙΝΗΣΗΣ</h2>
    <form name="linefrm" novalidate ng-submit="linefrm.$valid">
        <div class="column">
            <div class="field" ng-class="{error: linefrm.lperson.$invalid && !linefrm.lperson.$pristine}">
                <select ng-model="line.Person" name="lperson" required id="person">
                    <option value="">επιλογή</option>
                    <option ng-repeat="person in persons" ng-value="person">{{person.FirstName}}</option>
                </select>
                <label for="person">
                    Πρόσωπο
                    <span ng-show="linefrm.lperson.$error.required && !linefrm.lperson.$pristine">(Υποχρεωτικό πεδιο)</span>
                </label><i></i>
            </div>
            <div class="field" ng-class="{error: linefrm.lcategory.$invalid && !linefrm.lcategory.$pristine}">
                <select ng-model="line.Category" name="lcategory" required id="category">
                    <option value="">επιλογή</option>
                    <option ng-repeat="cat in categories" ng-value="cat" ng-if="cat.TransactionType==line.TransactionType">{{cat.Description}}</option>
                </select>
                <label for="category">
                    Κατηγορία
                    <span ng-show="linefrm.lcategory.$error.required && !linefrm.lcategory.$pristine">(Υποχρεωτικό πεδιο)</span>
                </label><i></i>
            </div>
            <div class="field" ng-class="{error: linefrm.lamount.$invalid && !linefrm.lamount.$pristine}">
                <input type="text" name="lamount" ng-model="line.Amount" required price mantiss="2" id="amount" />
                <label for="amount">
                    Ποσό
                    <span ng-show="linefrm.lamount.$error.required && !linefrm.lamount.$pristine">(Υποχρεωτικό πεδιο)</span>
                </label><i></i>
            </div>
        </div>
        <div class="column">
            <div class="field" ng-class="{error: linefrm.ltype.$invalid && !linefrm.ltype.$pristine}">
                <select ng-model="line.TransactionType" name="ltype" required ng-change="line.Category='';" id="transactionType">
                    <option value="">επιλογή</option>
                    <option value="Income">Έσοδα</option>
                    <option value="Expense">Έξοδα</option>
                </select>
                <label for="transactionType">
                    Είδος
                    <span ng-show="linefrm.ltype.$error.required && !linefrm.ltype.$pristine">(Υποχρεωτικό πεδιο)</span>
                </label><i></i>
            </div>
            <div class="field" ng-class="{error: linefrm.ldate.$invalid && !linefrm.ldate.$pristine}">
                <input type="text"
                       name="ldate"
                       ng-model="linedate"
                       required
                       ng-model-options="{ updateOn: 'blur' }"
                       moment-picker="linedate"
                       start-date="StartDate"
                       locale="el"
                       format="DD/MM/YYYY"
                       start-view="month"
                       min-view="year"
                       max-view="day"
                       max-date="MaxDate"
                       min-date="MinDate"
                       change="onDateChange(newValue, oldValue)"
                       id="transactionDate" />
                <label for="transactionDate">
                    Ημερομηνία
                    <span ng-show="linefrm.ldate.$error.required && !linefrm.$pristine">(Υποχρεωτικό πεδιο)</span>
                    <span ng-show="linefrm.ldate.$error.localizedformat && !linefrm.ldate.$pristine">(Μη έγκυρη ημερομηνία)</span>
                </label><i></i>
            </div>
            <div class="field">
            </div>
        </div>
        <div class="field full-width" ng-class="{error: linefrm.ldescription.$invalid && !linefrm.$pristine}">
            <textarea name="ldescription" ng-model="line.Comment" id="Comment" required></textarea>
            <label for="Comment">
                Σχόλιο
                <span ng-show="linefrm.ldescription.$error.required && !linefrm.ldescription.$pristine">(Υποχρεωτικό πεδιο)</span>
            </label><i></i>
        </div>
        <div class="button-container">
            <button class="button-success" ng-click="addLine(line)" ng-disabled="!linefrm.$valid"><span>Υποβολή</span></button>
        </div>
    </form>
</section>
