<section id="MonthSection">
    <h2 moment-picker="flowMonth" 
                        start-date="flowMonth" 
                        locale="el"
                        ng-model-options="{ updateOn: 'blur' }"
                        start-view="year"
                        min-view="decade"
                        max-view="year"
                        max-date="maxFlow"
                        min-date="minFlow"
                        ng-model="flowMonth"
                        change="onFlowChange(newValue, oldValue)"
        >{{flowMonth.format('MMMM YYYY')}}</h2>
    <h3>{{monthIncome | currency:'&euro;':2}}</h3>
    <h3>{{monthExpense | currency:'&euro;':2}}</h3>
        <ul>
            <li ng-repeat="Transaction in monthTransactions" ng-class="{lineExpense: Transaction.TransactionType=='Expense', lineIncome: Transaction.TransactionType=='Income'}">{{Transaction.Date| date:'dd/MM/yyyy'}} {{Transaction.Category.Description}}  {{Transaction.Amount | currency:'&euro;':2 }} ({{Transaction.Person.FirstName}}) </li>
        </ul>

</section>
